SW_FarmGuard/static/p5.js linguist-generated=true
SW_FarmGuard/static/socketio.js linguist-generated=true
SW_FarmGuard/static/htmx.js linguist-generated=true
SW_FarmGuard/static/mui/js/mui.js linguist-generated=true
SW_FarmGuard/static/mui/js/mui.min.js linguist-generated=true


SW_FarmGuard/static/mui/css/mui-rtl.css linguist-generated=true
SW_FarmGuard/static/mui/css/mui-rtl.min.css linguist-generated=true
SW_FarmGuard/static/mui/css/mui.css linguist-generated=true
SW_FarmGuard/static/mui/css/mui.min.css linguist-generated=true